<div id="header-outer">
    <div id="header-inner">
        <a href="/">
            <img id="header-image" height="35" src="/img/logo-text-black.png"/>
        </a>
        <div id="header-label">
            <span style="opacity: 0.2; margin-right: 5px;">&mdash;</span> User Guide
        </div>
        <div style="flex: 1">
        </div>
        <a href="/" class="back-to-home-link">
            <span class="bp3-icon bp3-icon-arrow-left"></span>
            Back Home
        </a>


    </div>
</div>
<div id="subheader-outer">
    {{ $currentPage := . }}
    {{ $menu := .Site.Menus.main }}
    {{ $menuName := "main" }}
    <div id="subheader-inner">
        <div class="bp3-select bp3-minimal">
            <select onchange="window.location.replace(this.options[this.selectedIndex].value)">
                <option value="/">Go to page...</option>
                {{ range $menu }}
                    {{ if .HasChildren }}
                    <optgroup label="{{ .Title }}">
                        {{ range .Children }}
                            <option value="{{ .URL }}" {{ if eq .URL $currentPage.URL }}selected{{end}}>{{ .Title }}</option>
                            {{if  .HasChildren }}
                                {{ range .Children }}
                                    <option value="{{ .URL }}" {{ if eq .URL $currentPage.URL }}selected{{end}}>&nbsp;&nbsp;&nbsp;{{ .Title }}</option>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </optgroup>
                    {{ end }}
                {{ end }}
            </select>
        </div>
    </div>
</div>