#header-outer {
    flex: 0 0 auto;
    overflow: visible;
    color: black;
    background-color: #F0F0F0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 51px;
    overflow: hidden;
}

#header-inner {
    height: 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
    padding-right: 0px;
    z-index: 2;
}

#header-image {
    margin-top: 4px;
}

#header-label {
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
}

#header-inner .back-to-home-link {
    color: black;
    text-decoration: none;
    font-weight:600;
    margin-right: 25px;
}

#subheader-outer {
    flex: 0 0 auto;
    overflow: visible;
    color: black;
    background-color: #F0F0F0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 38px;
    overflow: hidden;
}

#subheader-inner {
    height: 38px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 1rem;
    padding-right: 0px;
    z-index: 2;
}

#subheader-inner select {
    font-weight: 500;
    margin: 0px;
}